:root {
    --main-font: 'Courier New', Courier, monospace;
    --main-font-size: 20px;
    --main-font-colour: black;
    --header-font-size: 30px;
    --header-font-colour: rgb(0, 0, 0);
    --main-bg-color: rgb(219, 219, 219);
    --main-border-color: black;
    --main-border-size: 2px;
    --main-border-radius: 20px;
    --dropdown-bg-color: rgb(234, 156, 87);
    --dropdown-hover-color: #ea6d29;
    --widget-bg-color: rgb(234, 156, 87);
    --widget-hover-color: #ea6d29;
    --grid-gap: 2px;
    --container-bg-color: rgb(250, 250, 250);
}

body {
    font-family: var(--main-font);
    padding: 0px;
    margin: 0px;
    background-color: var(--main-bg-color);
}

html, body {
    height: 100%;
    width: 100%;
}

@media (min-width: 800px) {
    #search-bar {
        grid-area: header;
        display: grid;
        grid-template-columns: 0.05fr 1fr 1fr 3fr 1fr 0.05fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "logo bar bar space empty"
            "logo filter sort space events";
        gap: var(--grid-gap);
        padding-bottom: 1%;
        padding-top: 1%;
    }

    #search-bar input[type=text] {
        grid-area: bar;
        font-size: var(--header-font-size);
        border-radius: var(--main-border-radius);
        border-style: var(--main-border-size) solid var(--main-border-color);
        font-size: var(--header-font-size);
        background-color: rgb(226, 179, 137);
    }

    #search-bar input[type=text]:focus {
        outline: none;
    }

    .search {
        visibility: hidden;
        background-image: url(https://img.icons8.com/?size=100&id=e4NkZ7kWAD7f&format=png&color=000000);
        background-position: right 4% top 50%;
        background-repeat: no-repeat;
        background-size: var(--header-font-size);
    }

    #events-dropdown {
        grid-area: events;
    }

    #filter-dropdown {
        visibility: hidden;
        grid-area: filter;
    }

    #sort-dropdown {
        visibility: hidden;
        grid-area: sort;
    }

    .dropbutton {
        background-image: url(https://img.icons8.com/?size=100&id=gn7BG2TZ2vtF&format=png&color=000000);
        background-repeat: no-repeat;
        background-position: right 4% top 50%;
        background-size: var(--header-font-size);
        background-color: var(--dropdown-bg-color);
        color: black;
        height: 100%;
        width: 100%;
        font-size: var(--main-font-size);
        border-radius: var(--main-border-radius);
        cursor: pointer;
        border-style: hidden;
        border-width: var(--main-border-size);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    }

    .dropbutton:hover, .dropbutton:focus {
        background-color: var(--dropdown-hover-color);
    }

    .backButton {
        color: black;
        border: none;
        cursor: pointer;
        transition-duration: 0.4s;
        font-size: var(--header-font-size);
        background-color: var(--main-bg-color);
        margin-top: 0.67em;
    }

    .backButton:hover {
        color: dimgray;
    }

    .tableHeader {
        border: 2px solid black;
        border-collapse: collapse;
    }

    .tableBody {
        text-align: center;
        height: 100%;
    }

    .headerContainer {
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }

    .container {
        display: grid;
        grid-template-columns: 25% 40% 35%;
        height: 100%;       
    }

    .container div {
        /*border: 1px solid black;*/
        padding-left: 1.5%;
        padding-right: 1.5%;
        text-align: center;
    }

    .roundedBox {
        border-radius: 25px;
        /*border: 2px solid black;*/
        background-color: var(--container-bg-color);
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out;
    }

    .roundedBox:hover {
        box-shadow: 0 0 8px var(--widget-bg-color);
    }

    .dibsButton {
        background-color: var(--dropdown-bg-color);
        border: none;
        border-radius: 25px;
        color: black;
        padding: 30px 65px;
        text-align: right;
        font-size: 40px;
        cursor: pointer;
        transition-duration: 0.4s;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    }

    .dibsButton:hover {
        background-color: var(--dropdown-hover-color);
    }

    .schedule {
        display: grid;
        grid-template-columns: 20% 1fr;
        /*border: 2px solid black;*/
        font-family: monospace;
        overflow: hidden;
        background-color: var(--container-bg-color);
        height: 100%;
    }

    .time {
        display: flex;
        border-right: 2px solid var(--main-bg-color);
        align-items: center;
        justify-content: center;
       
    }

    .block {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        /*border-bottom: 1px solid #ccc;*/
    }

    .available {
        background-color: var(--container-bg-color);
    }

    .event {
        
        background-color: var(--widget-bg-color);
    }

}
