body
{
    padding: 0px;
    margin: 0px;
    background-color: #2d2d2d;
}
html, body, #wrapper
{ 
    height: 100%;
    width: 100%;
}


@media (max-width: 800px)
{
    /*TODO: Later*/
    #map
    {
        top: 10%;
        width: 100%;
        height: 50%;
    }
}


@media (min-width: 800px)
{
    body{
        display: grid;
        grid-template-areas: 
        "search map map map";
    }
    #side-bar
    {
        padding: 1%;
        position: relative;
        height: 100%;
        background-color: #2d2d2d;
        display: grid;
        grid-template-areas: 
        "search"
        "available"
        "available"
        "available"
        "available"
        "occupied"
        "occupied"
        "occupied";
    }

    #search-bar
    {
        grid-area: search;
        width: 100%;
        height: 70%;
        display: grid;
        grid-template-areas: 
        "bar bar bar events"
        "filter filter sort sort";
        grid-gap: 5px;
    }

    #search-bar input[type=text]
    {
        grid-area: bar;
        border-radius: 20px;
        border-style: none;
        font-size: large;
        background-color:lightgray;
    }

    .search
    {
        background-image: url(https://img.icons8.com/?size=100&id=e4NkZ7kWAD7f&format=png&color=000000);
        background-position: right 4% top 50%;
        background-repeat: no-repeat;
        background-size: 12%;
    }
    
    #events-dropdown
    {
        grid-area: events;
        height: 100%;
        width: 100%;
    }
    
    #filter-dropdown
    {
        grid-area: filter;
        height: 100%;
        width: 100%;
    }
    
    #sort-dropdown
    {
        grid-area: sort;
        height: 100%;
        width: 100%;
    }

    .dropbutton {
        background-color: #d45713;
        color: black;
        height: 100%;
        width: 100%;
        font-size: large;
        border-radius: 20px;
        cursor: pointer;
        border-style: solid;
    }

    .dropbutton:hover, .dropbutton:focus {
        background-color: #ea6d29;
    }

    .scroll-containter
    {       
        overflow-y: scroll;
        margin: 2%;
        height: 100%;
        width: 100%;
        border: 2px solid black;
    }

    #available-rooms, #occupied-rooms
    {
        text-align: center;
        color: white;
    }

    #available-rooms
    {
        grid-area: available;
        position: absolute;
        height: 85%;
        width: 95%;
        bottom: 25%;
    }

    #occupied-rooms
    {
        grid-area: occupied;
        position: absolute;
        height: 95%;
        width: 95%;
        bottom: 20%;
    }

    /* Temp widget, fill with actual data and change styling later*/
    .test-widget
    {
        height: 200px;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: aqua;
    }

    #map
    {
        grid-area: map;
        float: right;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 95%
    }
}
