:root
{
    --main-font: 'Courier New', Courier, monospace;
    --main-font-size: 20px;
    --main-font-colour: black;

    --header-font-size: 30px;
    --header-font-colour: aliceblue;

    --main-bg-color: #8DA399;
    --main-border-color: black;
    --main-border-radius: 20px;

    --dropdown-bg-color: #d45713;
    --dropdown-hover-color: #ea6d29;

    --widget-bg-color: aliceblue;
    --widget-hover-color: aqua;

}

body
{
    font-family: var(--main-font);
    padding: 0px;
    margin: 0px;
    background-color: var(--main-bg-color);
}
html, body
{ 
    height: 100%;
    width: 100%;
}

@media (min-width: 800px)
{
    body{
        display: grid;
        grid-template-areas: 
        "search map map map";
    }

    #side-bar
    {
        grid-area: search;
        padding: 1%;
        position: relative;
        height: 100%;
        display: grid;
        grid-template-areas: 
        "searchbar"
        "available"
        "available"
        "available"
        "available"
        "occupied"
        "occupied"
        "occupied";
    }

    #search-bar
    {
        grid-area: searchbar;
        width: 100%;
        height: 70%;
        display: grid;
        grid-template-areas: 
        "bar bar bar sort"
        "filter filter events events";
        grid-gap: 5px;
        border-bottom: 2px solid var(--main-border-color);
        padding-bottom: 1%;
    }
    
    #search-bar input[type=text]
    {
        grid-area: bar;
        font-size: var(--header-font-size); 
        border-radius: var(--main-border-radius);
        border-style: none;
        font-size: var(--header-font-size); 
        background-color:lightgray;
    }

    .search
    {
        background-image: url(https://img.icons8.com/?size=100&id=e4NkZ7kWAD7f&format=png&color=000000);
        background-position: right 4% top 50%;
        background-repeat: no-repeat;
        background-size: var(--header-font-size);
    }
    
    #events-dropdown
    {
        grid-area: events;
        height: 100%;
        width: 100%;
    }
    
    #filter-dropdown
    {
        grid-area: filter;
        height: 100%;
        width: 100%;
    }
    
    #sort-dropdown
    {
        grid-area: sort;
        height: 100%;
        width: 100%;
    }

    .dropbutton {
        background-image: url(https://img.icons8.com/?size=100&id=gn7BG2TZ2vtF&format=png&color=000000);
        background-repeat: no-repeat;
        background-position: right 4% top 50%;
        background-size: var(--main-font-size);
        background-color: var(--dropdown-bg-color);
        color: black;
        height: 100%;
        width: 100%;
        font-size: var(--main-font-size); 
        border-radius: var(--main-border-radius);
        cursor: pointer;
        border-style: solid;
    }

    .dropbutton:hover, .dropbutton:focus {
        background-color: var(--dropdown-hover-color);
    }

    .scroll-containter
    {      
        padding-top: 2%;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: none;
        height: 100%;
        width: 100%;
        border-top: 2px solid var(--main-border-color);
    }
    
    #available-rooms, #occupied-rooms
    {
        margin-top: 1%;
        padding: 2%;
        font-size: var(--header-font-size);
        text-align: center;
        color: var(--header-font-colour);
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid var(--main-border-color);
    }
    
    #available-rooms
    {
        border-top: 2px solid var(--main-border-color);
        grid-area: available;
        position: absolute;
        height: 85%;
        width: 95%;
    }
    
    #occupied-rooms
    {
        grid-area: occupied;
        position: absolute;
        height: 95%;
        width: 95%;
        bottom: 10%;
    }

    /* Temp widget, fill with actual data and change styling later*/
    .test-widget
    {
        height: 200px;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: var(--widget-bg-color);
        border-radius: var(--main-border-radius);
        cursor: pointer;
    }

    .test-widget:hover
    {
        background-color: var(--widget-hover-color);
    }

    #map
    {
        grid-area: map;
        top: 50%;
        transform: translateY(-50%);
        height: 95%
    }
}
