@import 'styles.css';

:root
{
    --main-font: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'sans-serif';
    --main-font-size: 20px;
    --main-font-color: black;

    --header-font-size: 30px;
    --header-font-color: black;

    --main-bg-color: #e6ccb2;
    --main-border-color: black;
    --main-border-size: 2px;
    --main-border-radius: 20px;
    --main-header-bg-color: #e6ccb2;
    --sidebar-color: #e6ccb2;

    --dropdown-bg-color: rgb(233, 141, 60);
    --dropdown-hover-color: #ff942f;

    --dibsed: #dfb285;
    --prev-dibsed: white;

    --widget-bg-color: rgb(234, 156, 87);
    --widget-hover-color: #ff942f;

    --grid-gap: 2px;

    --box-shadow: 0 3px 6px 0 black;

    --glow: 0 0 10px var(--dropdown-hover-color);

    --container-bg-color: #ede0d4;

    --text-label-color: black;
    --text-label-background: #ede0d4;
}

/*
Conners pallets
Midnight Tones:
    bg: #31081F
    text: #DCE0D9
    header: #31081F
    container: #6B0F1A
    widget: #6B0F1A
    widget hover: #8d1423
*/
/*
Alis Pallets
Tropical Sunrise:
--main-font-color: black;
--header-font-color: black;

--main-bg-color: rgb(219, 219, 219);
--main-border-color: black;
--main-header-bg-color: rgb(219, 219, 219);
--sidebar-color: rgb(219, 219, 219);

--dropdown-bg-color: rgb(234, 156, 87);
--dropdown-hover-color: #ea6d29;

--widget-bg-color: rgb(234, 156, 87);
--widget-hover-color: #ea6d29;


--container-bg-color: rgb(200, 200, 200);


--glow: 0 0 10px var(--dropdown-hover-color);

--container-bg-color: rgb(250, 250, 250);
*/