@import 'styles.css';

:root
{
    --main-font: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'sans-serif';
    --main-font-size: 20px;
    --main-font-color: #DCE0D9;

    --header-font-size: 30px;
    --header-font-color: #DCE0D9;

    --main-bg-color: #31081F; /*rgb(219, 219, 219)*/
    --main-border-color: #DCE0D9;
    --main-border-size: 2px;
    --main-border-radius: 20px;
    --main-header-bg-color: #1D0412;
    --sidebar-color: #31081F;

    --dropdown-bg-color: #6B0F1A; /*rgb(234, 156, 87)*/
    --dropdown-hover-color: #8d1423;

    --widget-bg-color: #6B0F1A;
    --widget-hover-color: #8d1423;

    --grid-gap: 2px;

    --box-shadow: 0 3px 6px 0 rgba(0,0,0,0.6);

    --glow: 0 0 10px var(--dropdown-bg-color);

    --container-bg-color: #8d1423;

    --text-label-color: black;
    --text-label-background: white;
}

/*
Conners pallets
Midnight Tones:
    bg: #31081F
    text: #DCE0D9
    header: #31081F
    container: #6B0F1A
    widget: #6B0F1A
    widget hover: #8d1423

*/